@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-black: #000;
}
body {
  font-family: "Poppins", sans-serif;
  ._is_open_menu_layer {
    display: none;
    transition: all ease 0.3s;
    &.on {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 9;
    }
  }
}

*{
  box-sizing: border-box;
}

.denyut {
  animation: pound 0.2s infinite;
  animation-duration: 2s;
}
@keyframes pound {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

._f_container {
  max-width: 1200px;
  margin: 0 auto;
}

._f_nav {
  height: 80px;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-wrapper {
    height: 75px;
    width: 200px;
    img {
      width: 100%;
    }
  }
}
._f_landing {
  background-image: url("/assets/images/hero-1.png");
  min-height: calc(100vh - 80px);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 30px 0;
  position: relative;
  @media (max-width: 768px) {
    min-height: calc(100vh);
  }
  .text-welcome {
    width: 40%;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.5em;
    letter-spacing: 0.005em;
    color: #ffffff;
    text-shadow: 0px 0px 1.3px #254777;
  }
  ._start {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    ._text {
      color: #fff;
      text-shadow: 0px 0px 1.3px #254777;
      font-size: 40px;
      font-weight: 700;
    }
    ._icon {
      width: 60px;
      // margin-bottom: -60px;
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  ._f_nav {
    position: absolute;
    background-color: transparent;
    top: 15vh;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: flex-start;
    .logo-wrapper {
      height: 75px;
      width: 200px;
      img {
        width: 100%;
      }
    }
  }
  ._f_landing {
    padding: 30vh 10px 10px 10px;
    background-image: url("/assets/images/hero-1-md.png");
    background-size: 100%;
    background-position-y: top;
    .text-welcome {
      font-size: 22px;
      width: 80%;
    }
  }
}

.home {
  position: relative;
  ._top_navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 90px;
    height: 120px;
    // display: none;
    display: flex;
    align-items: center;
    .menu-trigger {
      width: 150px;
      button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .search {
      flex: 1;
      display: flex;
      border-bottom: 1px solid #989898;
      padding-bottom: 5px;
      font-size: 32px;
      align-items: center;
      .icon {
        width: 30px;
        margin-right: 20px;
        img {
          width: 100%;
        }
      }
      input {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
    .m-right {
      width: 150px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      .m-item {
        width: 30px;
        img {
          width: 100%;
        }
      }
    }
    @media (max-width: 768px) {
      padding: 5px;
      .menu-trigger {
        width: 50px;
        button {
          width: 35px;
          height: 35px;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .search {
        flex: 1;
        display: flex;
        border-bottom: 1px solid #989898;
        padding-bottom: 5px;
        font-size: 18px;
        align-items: center;
        margin: 10px 0;
        .icon {
          width: 20px;
        }
      }
      .m-right {
        width: 80px;
        display: flex;
        justify-content: space-around;
        .m-item {
          width: 30px;
        }
      }
    }
  }
  ._sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    transform: translateX(calc(-100vw - 320px));
    transition: all ease 0.3s;
    &.show {
      transform: translateX(0);
    }
    ._sidebar {
      width: 500px;
      height: 100vh;
      background-color: #fff;
      padding: 10px;
      overflow-y: auto;
      @media (max-width: 768px) {
        width: 100vw;
      }
      .header {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
          flex: 1;
          text-align: center;
        }
        .close {
          cursor: pointer;
          background-color: transparent;
          border: none;
          margin-right: 10px;
        }
      }
      .main-menu {
        height: calc(100vh - 100px);
      }
      ._f_tab {
        border-bottom: 1px solid #b8b8b8;
        .nav-item {
          flex: 1;
          .nav-link {
            width: 100%;
            border: none;
            padding: 0 20px;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 30px;
            color: #989898;
            &.active {
              background-color: transparent;
              border-bottom: 2px solid #444;
            }
            background-color: transparent;
          }
        }
      }
      .card-side {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-weight: 600;
      }
    }

    .sidebar-menu {
      .menu-item {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .menu-link {
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          color: #000;
          flex: 1;
          transition: all ease 0.2s;
          &:hover {
            transform: scale(1.01);
          }
        }
      }
    }
  }
  .img-hero-2 {
    width: 100vw;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

._sidebar-wrapper-sub {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  transition: all ease 0.3s;
  border-right: 1px solid #888;
  ._sidebar {
    background-color: #fff;
    padding: 10px;
    overflow-y: auto;
    .header {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        flex: 1;
        text-align: center;
      }
      .close {
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin-right: 10px;
      }
    }
    .main-menu {
      height: calc(100vh - 100px - 100px);
    }
    ._f_tab {
      border-bottom: 1px solid #b8b8b8;
      .nav-item {
        flex: 1;
        .nav-link {
          width: 100%;
          border: none;
          padding: 0 20px;
          font-size: 18px;
          font-weight: 600;
          padding-bottom: 30px;
          color: #989898;
          &.active {
            background-color: transparent;
            border-bottom: 2px solid #444;
          }
          background-color: transparent;
        }
      }
    }
    .card-side {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .sidebar-menu {
    .menu-item {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      .menu-link {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        flex: 1;
        transition: all ease 0.2s;
        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }
}

section {
  .title-section {
    font-weight: 700;
  }
}

.best-seller {
  padding-bottom: 50px;
  .product-on-sale {
    position: relative;
    .link-wrapper {
      background-color: #839dbb;
      position: absolute;
      bottom: 10%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      .link {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        font-weight: 700;
      }
    }
    @media (max-width: 768px) {
      .link-wrapper {
        background-color: #839dbb;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        .link {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

.card-product {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
  button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
    }
  }
  .img-wrapper {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .footer {
    text-decoration: none;
    color: inherit;
    h3 {
      font-size: 22px;
      font-weight: 400;
    }
    h4 {
      font-weight: 600;
      color: #254777;
    }
  }
}

.sub-category {
  .card-product {
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    transition: all ease 0.3s;
    &:hover {
      transform: translateY(-5px);
    }
    .img-wrapper {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0px;
      }
    }
    .wrap-footer {
      text-decoration: none;
      color: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
      h4 {
        font-weight: 600;
        color: #000;
      }
    }
  }
}

.see-all{
  text-decoration: none;
  font-weight: 600;
  color: #254777;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.btn-category {
  background-color: #d1def1;
  max-height: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: all ease 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &.all {
    background-color: #254777;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    span {
      transition: all ease 0.3s;
    }
    &:hover {
      span {
        transform: scale(1.4);
      }
    }
  }
  @media (max-width: 768px) {
    height: 160px;
  }
}

._f_footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d0ddf0;
  .footer-title {
    margin-bottom: 30px;
    h3 {
      font-size: 32px;
      font-weight: 700;
      text-decoration: underline;
      color: #333;
    }
  }
  .form-mail {
    width: 50%;
    height: 45px;
    display: flex;
    input {
      flex: 1;
      border: 1px solid #857f7f;
      outline: none;
      padding: 10px;
      border-radius: 5px;
    }
    button {
      height: 45px;
      width: 120px;
      margin-left: 30px;
      background-color: #839dbb;
      border-radius: 5px;
      border: 1px solid #857f7f;
      font-size: 18px;
      font-weight: 500;
      text-decoration: underline;
      color: #fff;
    }
    @media (max-width: 768px) {
      width: 100%;
      input {
        flex: 1;
        border: 1px solid #857f7f;
        outline: none;
        padding: 10px;
        border-radius: 5px;
      }
      button {
        height: 45px;
        width: 80px;
      }
    }
  }
}

.fa {
  font-size: 26px;
}

.btn-trigger-mob {
  height: 60px;
  display: flex;
  align-items: flex-end;
  position: fixed;
  z-index: 11;
  .btn-t-mob {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  ._sidebar-wrapper-sub {
    &.show-in-mob {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .btn-category {
    background-color: #d1def1;
    max-height: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1020px) {
  .btn-category {
    background-color: #d1def1;
    max-height: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
